
{% extends 'food/base.html' %}


{% block body %}
    <div class="container " style="height: 88vh; width: 100%;">
        <div class="row "style="height: 88vh; width: 100%; 
        display: flex;
        justify-content: center;
        ">
            <div class="" >
                <div class="card">
                    <div class="card-header bg-dark ">
                      <div class="card-title text-white">Edit Item</div>
                    </div>
                    <div class="card-body">
                        <form method="POST">

                        {% csrf_token %}
                        {%  for field in form %}
                           <div class="form-group" style="display: grid; grid-template-columns: 1fr 2fr;">
                            <label for="">{{field.name}}</label>
                            
                            {{field}}
                           </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-dark">Edit Item</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

